<div>
    <p>Hello, and welcome to this website! </p>
    <p>Here, I will show off five jobs that I would like to be able to apply in the near future, in no particular order. Something that you will notice is that many of these jobs aren't located here in the United States, or are even in English! This is because it is my dream to move to Norway, a nordic country in Europe that is about the size of California. Norway doesn't want me to move to them but that won't stop me :)</p>

    <button className='text-5xl'>Check out the first job listing</button>
</div>